// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.module {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(http://i.imgur.com/JyWeOSr.jpg);
  background-size: cover;
  width: 1250px;
  height: 650px;
  margin: 10px 0 0 10px;
  position: relative;
}

#saveChange{
  width: 12em;
}

.top h2 {
  color: white;
  margin: 0;
  padding: 20px;
}
#signupCard, #userShow{
  margin: 0 auto;
  width: 40em;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: #23527c;
}
.btn-success{
  padding: 5px;
}


input.emailSup, input.pwordSup, input.fnameSup, input.citySup {
      width: 15em;
      -webkit-box-shadow: 0 0 0 100px #fff inset;
      -moz-box-shadow: 0 0 0 100px #fff inset;
      box-shadow: 0 0 0 100px #fff inset;
      border-radius: 5px;
  }
input.btn-primary{
  width: 9em;
  border-radius: 10px;
  margin-top: 10px;
  padding: 1em;
}
